<?xml version='1.0' encoding='utf-8'?>

<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <%- data_sources.sort.each do |data_source, db| -%>

      <Resource name="<%= data_source %> " auth="Container"
        type="javax.sql.DataSource" maxActive="100" maxIdle="30"
        maxWait="10000" username="<%= db['user'] %> "
        password="<%= db['password'] %> "
        driverClassName="<%= db['driver'] %> " url="<%= db['url'] %> "/>

    <%- end -%>

</Context>
